body {
    font-family: Arial;
    font-size: 24pt;
}

a {
    font-size: 12pt;
}
#cadre {
    background-color: #CCCCCC;
    margin: auto;
}

h1   {
    font-family: inherit;
    text-align: center;
}

h3   {
    font-family: inherit;
    text-align: center;
}

h4   {
    font-family: inherit;
    text-align: center;
    font-color: pink;
}

.green {
    background-color: lime;}

.red {
    background-color: red;}

input, select {
    font-size: 18pt;}

.activebutton {
    background-color: LightCyan
}
