body {
    font-family: Arial;
    font-size: 12pt;
}

input, select {
    font-size: 10pt;}

.delete {
    background-color: red
}

.vranger {
    margin-top: 80px;
    margin-bottom: 80px;
    transform: rotate(270deg);
    -moz-transform: rotate(270deg); /*do same for other browsers if required*/
}
