<!DOCTYPE html>
<html>
<head>
    <title>Configuration caméra</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link href="{{ url_for('static', filename='css/base.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ url_for('static', filename='css/config.css') }}" rel="stylesheet" type="text/css">
</head>
<body bgcolor="#FFFFFF" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">
<script>
function selectChange() {
    document.getElementById("cam_buttons_form").submit();
}


</script>
<form action="/config" method="post" name="cam_buttons_form" id="cam_buttons_form">
    <table id="cadre">
        <tr>
            <td>
                <h3>Configuration des boutons</h3>
                <h3>Caméra : {{ camera.name }}</h3>
            </td>
        </tr>
        <tr>
            <td>
                <table id="boutons">
                    {% for buttons_row in camera.buttons %}
                    {% set row_loop = loop %}
                    <tr bgcolor="white">
                        {% for button_def in buttons_row %}
                        <td>
                            <table cellspacing="5">
                                <tr>
                                    <td>
                                        Nom du bouton
                                    </td>
                                    <td>
                                        <input type="text" name="button_name-{{row_loop.index0}}-{{loop.index0}}"
                                               value="{{button_def.name}}">
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Valeur PAN *
                                    </td>
                                    <td>
                                        <input type="number" size="8" min="0" max="816"
                                               name="pan_value-{{row_loop.index0}}-{{loop.index0}}"
                                               value="{{button_def.pan_pos}}">
                                        vitesse <input type="number" min=0 max=15 size="3"
                                                       name="pan_speed-{{row_loop.index0}}-{{loop.index0}}"
                                                       value="{{button_def.pan_speed}}">
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Valeur TILT *
                                    </td>
                                    <td>
                                        <input type="number" size="8" min="0" max="212"
                                               name="tilt_value-{{row_loop.index0}}-{{loop.index0}}"
                                               value="{{button_def.tilt_pos}}">
                                        vitesse <input type="number" size="3" min=0 max=15
                                                       name="tilt_speed-{{row_loop.index0}}-{{loop.index0}}"
                                                       value="{{button_def.tilt_speed}}">
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Valeur ZOOM
                                    </td>
                                    <td>
                                        <input type="number" size="8" min="0" max="2880"
                                               name="zoom_value-{{row_loop.index0}}-{{loop.index0}}"
                                               value="{{button_def.zoom_value}}">
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Valeur FOCUS
                                    </td>
                                    <td>
                                        <input type="number" size="8" min="0" max="576"
                                               name="focus_value-{{row_loop.index0}}-{{loop.index0}}"
                                               value="{{button_def.focus_value}}">
                                    </td>
                                </tr>
                                <tr>
                                    <td>

                                    </td>
                                    <td>
                                        <input type="submit" name="test-{{row_loop.index0}}-{{loop.index0}}"
                                               value="Test">
                                    </td>
                                </tr>
                                <tr>
                                    <td>

                                    </td>
                                    <td align="right">
                                        <input type="submit" name="delete-{{row_loop.index0}}-{{loop.index0}}"
                                               formaction="/button/{{row_loop.index0}}/{{loop.index0}}/delete"
                                               onclick="if (!confirm('Supprimer le bouton?')) { return false }"
                                               value="Supprimer" class="delete">
                                    </td>
                                </tr>
                            </table>
                            {% endfor %}
                        </td>
                        <td><input type="submit" name="add-{{row_loop.index0}}" value="Ajouter un bouton"></td>
                    </tr>
                    {% endfor %}
                </table>
            </td>
        </tr>
        <tr>
            <td>
                <table>
                    <tr>
                        <td height="150"><input type="range" min="0" max="816" value="{{camera_status.pan}}" name="pan_slider" onchange="selectChange()"></td>
                        <td><input type="range" class="vranger" min="0" max="212" value="{{camera_status.tilt}}" name="tilt_slider"
                                   onchange="selectChange()"></td>
                        <td><input type="range" class="vranger" min="0" max="2880" value="{{camera_status.zoom}}" name="zoom_slider"
                                   onchange="selectChange()"></td>
                        <td><input type="submit" name="autofocus" value="{{camera_status.focus_mode}}"></td>
                    </tr>
                    <tr align="center">
                        <td>PAN {{camera_status.pan}}</td>
                        <td>TILT {{camera_status.tilt}}</td>
                        <td>ZOOM {{camera_status.zoom}}</td>
                        <td>Focus:
                {{camera_status.focus}}</td>
                    </tr>
                </table>

                Adresse IP pour tablette ou téléphone : {{ip_address}}
            </td>
        </tr>
        <tr>
            <td>
                <input type="submit" name="send" value="Valider">
            </td>
        </tr>
        <tr>
            <td>
                <a href="/">Retour</a>
            </td>
        </tr>
    </table>
    <input type="hidden" name="camera" value="{{ camera.address }}">
</form>
</body>
</html>
