<!DOCTYPE html>
<html>
<head>
    <title>Télécommande2</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>
<body bgcolor="#FFFFFF" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">
<!-- Save for Web Slices (Télécommande2.psd) -->
<table id="cadre">
    <tr>
        {% for head in heads %}
        <td>
            <table id="Tableau_{{ head.id }}" width="305" height="427" border="0" cellpadding="0" cellspacing="0">
                <tr>
                    <td colspan="3" align="center">
                        <h1>{{ head.name }}</h1></td>
                </tr>
                <tr>
                    <td>
                        <a href="mph?head_id={{ head.id }}&move=left_up">
                            <img src="images/{{ head.dir_pictures[0] }}.png" width="101" height="115" alt=""></a></td>
                    <td>
                        <a href="mph?head_id={{ head.id }}&move=up">
                            <img src="images/{{ head.dir_pictures[1] }}.png" width="102" height="115" alt=""></a></td>
                    <td>
                        <a href="mph?head_id={{ head.id }}&move=right_up">
                            <img src="images/{{ head.dir_pictures[2] }}.png" width="102" height="115" alt=""></a></td>
                </tr>
                <tr>
                    <td>
                        <a href="mph?head_id={{ head.id }}&move=left">
                            <img src="images/{{ head.dir_pictures[3] }}.png" width="101" height="100" alt=""></a></td>
                    <td>

                        <a href="mph?head_id={{ head.id }}&move=stop">
                            <img src="images/{{ head.dir_pictures[4] }}.png" width="102" height="100" alt=""></a></td>
                    <td>
                        <a href="mph?head_id={{ head.id }}&move=right">
                            <img src="images/{{ head.dir_pictures[5] }}.png" width="102" height="100" alt=""></a></td>
                </tr>
                <tr>
                    <td>
                        <a href="mph?head_id={{ head.id }}&move=left_down">
                            <img src="images/{{ head.dir_pictures[6] }}.png" width="101" height="112" alt=""></a></td>
                    <td>
                        <a href="mph?head_id={{ head.id }}&move=down">
                            <img src="images/{{ head.dir_pictures[7] }}.png" width="102" height="112" alt=""></a></td>
                    <td>
                        <a href="mph?head_id={{ head.id }}&move=right_down">
                            <img src="images/{{ head.dir_pictures[8] }}.png" width="102" height="112" alt=""></a></td>
                </tr>
                <tr>
                    <td>
                        <a href="mph?head_id={{ head.id }}&speed=slow">
                            <img src="images/{{ head.speed_pictures[0] }}.png" width="101" height="100" alt=""></a></td>
                    <td>
                        <a href="mph?head_id={{ head.id }}&speed=medium">
                            <img src="images/{{ head.speed_pictures[1] }}.png" width="102" height="100" alt=""></a></td>
                    <td>
                        <a href="mph?head_id={{ head.id }}&speed=fast">
                            <img src="images/{{ head.speed_pictures[2] }}.png" width="102" height="100" alt=""></a></td>
                </tr>
            </table>
        </td>
        {% endfor %}
    </tr>
</table>
<!-- End Save for Web Slices -->
</body>
</html>
