<!DOCTYPE html>
<html>
<head>
    <title>ITC Configuration</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link href="{{ url_for('static', filename='css/acp.css') }}" rel="stylesheet" type="text/css">
</head>
<body bgcolor="#FFFFFF" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">
<script>
function selectChange() {
    document.getElementById("btn_config_form").submit();
}


</script>
<table id="cadre">
    <tr>
        <td>
            <h3>Configuration des boutons pour {{ hostname }}</h3>
        </td>
    </tr>
    <tr>
        <td>
            Le videohub n'est pas connecté.
            <a href="/buttons">Connecter le videohub</a>
        </td>
    </tr>
    <tr>
        <td align="center">
            <a href="/">Accueil</a>
        </td>
    </tr>
</table>

</body>
</html>
